.full {
  background: url(../img/eldia.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clean{
  list-style-type: none;
}

.simple a{
  color: white;
  text-decoration: underline;
}
.down{
  margin-top: 50px;
}
