<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">JORGE & BELATE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if page.base_permalink == "invitacion" %}class="active"{% endif %}><a href="/{{ page.language }}/invitacion/">{{ site['invitacion']['title'][page.language] }}</a></li>
                <li {% if page.base_permalink == "alojamiento" %}class="active"{% endif %}><a href="/{{ page.language }}/alojamiento/">{{ site['alojamiento']['title'][page.language] }}</a></li>
                <li {% if page.base_permalink == "turismo" %}class="active"{% endif %}><a href="/{{ page.language }}/turismo/">{{ site['turismo']['title'][page.language] }}</a></li>
                <li {% if page.base_permalink == "eldia" %}class="active"{% endif %}><a href="/{{ page.language }}/eldia/">{{ site['eldia']['title'][page.language] }}</a></li>
                <li {% if page.base_permalink == "musica" %}class="active"{% endif %}><a href="#">{{ site['musica']['title'][page.language] }} &nbsp;<span class="label label-default">soon</span></a></li>
                <li {% if page.base_permalink == "contacto" %}class="active"{% endif %}><a href="/{{ page.language }}/contacto/">{{ site['contacto']['menu'][page.language] }}</a></li>

            </ul>

            <p class="navbar-text navbar-right">
              <a href="/en/{{ page.base_permalink }}" class="navbar-link">EN</a>&nbsp;/&nbsp;
              <a href="/es/{{ page.base_permalink }}" class="navbar-link">ES</a>
            </p>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
