---
layout: default
base_permalink: alojamiento
---

<link href="{{ "/css/alojamiento.css" | prepend: site.baseurl }}" rel="stylesheet">

<div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5 right"><h2>{{ site['alojamiento']['title'][page.language] }}</h2></div>
</div>

<div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 right medium">{{ site['alojamiento']['caption'][page.language] }}</div>
</div>


<div class="row rowsep minheight">
      <div class="col-md-4">
        <div class="card">
            <a href="http://www.booking.com/city/es/san-sebastian.es.html" target="_blank"><img src="{{ "/img/booking.png" | prepend: site.baseurl }}" width="100%"></a>
            <p>{{ site['alojamiento']['booking'][page.language] }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
            <a href="https://www.airbnb.co.uk/s/San-Sebasti%C3%A1n--Spain" target="_blank"><img src="{{ "/img/airbnb.png" | prepend: site.baseurl }}" width="100%"></a>
            <p>{{ site['alojamiento']['airbnb'][page.language] }}</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
            <a href="http://www.tripadvisor.es/Hotels-g187457-San_Sebastian_Donostia_Guipuzcoa_Province_Basque_Country-Hotels.html" target="_blank"><img src="{{ "/img/tripadvisor.png" | prepend: site.baseurl }}" width="100%"></a>
            <p>{{ site['alojamiento']['tripadvisor'][page.language] }}</p>
        </div>
      </div>
</div>
