---
layout: default
base_permalink: contacto
---

<link href="{{ "/css/contacto.css" | prepend: site.baseurl }}" rel="stylesheet">

<div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5 right"><h2>{{ site['contacto']['title'][page.language] }}</h2></div>
</div>

<div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 right medium emails">
          <p>{{ site['contacto']['caption1'][page.language] }}</p>
          <p>{{ site['contacto']['caption2'][page.language] }}</p>
          <br>
          <p><a href="mailto:me@jorgebastida.com">&raquo; me@jorgebastida.com</a></p>
          <p><a href="mailto:belateatorra@gmail.com">&raquo; belateatorra@gmail.com</a></p>
      </div>
</div>
